/**
 * #######################################################
 *                  Variables
 * #######################################################
 **/

 /// Primary Colors
$primary-fg-color: blue;
$primary-bg-color: black;

/// Secondary Colors
$secondary-fg-color: red;
$secondary-bg-color: blue;


/// Terziary Colors